<!DOCTYPE html>
<head>
  <%- include('head') %>
</head>
<title></title>
<body>
     <%- include('header') %>

 <div class="container">   
<h1>edit page</h1>

<div>
  <form action="/edit-user/<%= user._id %>" method="POST">
  <input value="<%= user.username %>" name="username" type="text">
  <input value="<%= user.email %>"name="email" type="email">
  <button>save</button>
  </form>
</div>



</div>



</body>
</html>