<!DOCTYPE html>
<head>
  <%- include('head') %>
</head>
<title></title>
<body>
   

 <div class="container">   
<h1>home page</h1>

<div>
  <form action="/add-post" method="POST">
  <input name="body" type="text">
  
  <button>add post</button>
  </form>
</div>

<% if( data.length >0) { %>
    <ul>
<% data.forEach(data =>{ %>
<li><%= data.body %> </li>

<a href="/edit-post/<%= data._id %>">edit post</a>
<form method="post" action="/delete-post/<%= data._id %>" >
<button>delete post</button>
</form>



<form method="POST" action="/add-comment/<%= data._id %>" >
<input name="comment" type="text">
<input type="hidden" value="<%= data._id %>" name="post_id">
<button>add comment</button>
</form>

<% if (data.comments.length >0) { %>
  <ul>
  <% data.comments.forEach(comment =>{ %>
  <li>  <%= comment.body %></li>
    <form method="POST" action="/delete-comment/<%= comment._id %>/<%= data._id %>" >
    <button>delete comment</button>
    </form>


  <% }) %>
<% } %>

</ul>


<% }) %>
<% } %>
   </ul>









</div>



</body>
</html>