<!DOCTYPE html>
<head>
  <%- include('head') %>
</head>
<title></title>
<body>
    <%- include('header') %>

<div class="container2">
    <h1>DATA</h1>
    <% data.sort((a, b) => { %>
    <% const dateA = new Date(a.createdAt.split('-').reverse().join('-')) %>
    <% const dateB = new Date (b.createdAt.split('-').reverse().join('-')) %>

    <% return dateB - dateA %>
<%} ) %>
    <%= data %>


<% if( data.length >0) { %>
    <ul>
<% data.forEach(data =>{ %>
<li><%= data.name %> - <%= data.createdAt %></li>
<li><%= data.message%> </li>
<% }) %>
<% } %>
   </ul>
</div>

</body>
</html>